.movie-card {
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	max-width: 150px;
}
